.dashboard--container{
    display: flex; 
}
.dashboard--content{
	width: max-content;
    flex: 1;
}
.dashboard--outlet{
  overflow-y:auto;
  height: 87vh;
  padding: 0 30px;
}
.dashboard--outlet::-webkit-scrollbar {
    width: 1px;
  }
  
.dashboard--outlet::-webkit-scrollbar-thumb {
    background: #140EEF;
    border-radius: 10px;
  }