.currentSetter--top{
    width: 100%;
    min-height: 340px;
    border: 1px solid rgba(23, 185, 255, 0.5);
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(46, 167, 255, 0) 57.41%, rgba(46, 167, 255, 0.1) 100%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 15px;
    font-family: 'Gilroy-Medium';
}
.top--left,.top--middle{
    width: 40%;
    border-right: 1px solid rgba(23, 185, 255, 0.5);
    padding: 20px 27px 20px 27px;
    height:360px;
}
.top--left h1 ,.top--middle h1{
    text-align: center;
    font-size: 23px;
    color: #FFFFFF;
    letter-spacing: 2px;
}
.top--right{
    width: 20%;
    padding: 20px 27px 20px 27px;
}